workflow.json
{
  "name": "Workshop Credentials Test Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "eab9b0b5-433d-4a8b-9f3d-a87e15c4c1a1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7e8f9a0b-2c3d-4e5f-6a7b-8c9d0e1f2a3b",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [250, 500],
      "webhookId": "workshop-chat-trigger"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      data: \"This is a test file created from n8n workshop.\"\n    }\n  }\n];"
      },
      "id": "8f9a0b1c-3d4e-5f6a-7b8c-9d0e1f2a3b4c",
      "name": "Prepare File Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 200]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "n8n-workshop-test.txt",
        "inputDataFieldName": "data",
        "options": {
          "mimeType": "text/plain"
        }
      },
      "id": "2f4b8d9e-7c1a-4b5e-9d3f-8a7e6c5d4e3f",
      "name": "Google Drive - Create File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [650, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "Test Sheet"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "3a5c7e9f-8d2b-4c6e-9e4f-9b8d7c6e5f4a",
      "name": "Google Sheets - Read",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [850, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "subject": "n8n workshop draft",
        "message": "This is a draft email created during the n8n workshop to verify Gmail credentials."
      },
      "id": "4b6d8f0a-9e3c-5d7f-0a5e-0c9e8d7f6a5b",
      "name": "Gmail - Create Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1050, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true
      },
      "id": "9a0b1c2d-4e5f-6a7b-8c9d-0e1f2a3b4c5d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [650, 500]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "options": {}
      },
      "id": "0b1c2d3e-5f6a-7b8c-9d0e-1f2a3b4c5d6e",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [650, 700],
      "credentials": {
        "openAiApi": {
          "id": "4",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.apify.com/v2/store",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "YOUR_APIFY_TOKEN_HERE"
            }
          ]
        },
        "options": {}
      },
      "id": "1c2d3e4f-6a7b-8c9d-0e1f-2a3b4c5d6e7f",
      "name": "Apify HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Prepare File Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Data": {
      "main": [
        [
          {
            "node": "Google Drive - Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Create File": {
      "main": [
        [
          {
            "node": "Google Sheets - Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Read": {
      "main": [
        [
          {
            "node": "Gmail - Create Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Create Draft": {
      "main": [
        [
          {
            "node": "Apify HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-09T09:00:00.000Z",
  "versionId": "1"
}
