workflow.json
{
  "name": "n8n workshop",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1024,
        112
      ],
      "id": "12082e59-aadd-449f-a6be-ad811a0dbbf8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        -192
      ],
      "id": "c6da76ed-6a7f-498b-9c31-8c2b1cce7ff8",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gkPjUDkpMtyydcti",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "Test content",
        "name": "n8n-workshop-test.txt",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        48
      ],
      "id": "56443b60-7154-4770-8842-8db527256cba",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gRysNBzAzd2If4kq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -496,
        1584
      ],
      "id": "5462cdc5-2b73-4941-9d34-30415fbfe6d9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -16,
        560
      ],
      "id": "db3b510a-20e0-4ec7-99c5-e77a3f2b15d4",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "FOQgxnirQtWmPthY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "n8n workshop draft",
        "message": "n8n workshop draft content",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -448,
        336
      ],
      "id": "b0d74aef-5d42-46fb-8c5b-1a7d21d1ce0b",
      "name": "Create a draft",
      "webhookId": "f61484f5-5eb0-44bd-a67b-983e0a721523",
      "credentials": {
        "gmailOAuth2": {
          "id": "lyNVtUaBuhKXZtL4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1056,
        1584
      ],
      "id": "0a82e87b-043f-4790-9b1f-f59697b29102",
      "name": "When chat message received",
      "webhookId": "d6ba97fd-5dbb-4665-95d8-f45f7113053f"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -496,
        1808
      ],
      "id": "a637277a-7d64-4e22-869e-6f952874d57e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "paPSwdIAFZWWdGVU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/GiladShoham/n8n-workshop-prep/refs/heads/main/AgentEvaluationsTranscript.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        560
      ],
      "id": "68f3f30e-dce1-4f97-9dbb-ca272c75c0cf",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        784
      ],
      "id": "d6849345-92dd-472b-b162-4cf5437fb24b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "paPSwdIAFZWWdGVU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        128,
        768
      ],
      "id": "6a54bcd2-3b45-4237-a630-359aef25884a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "fileName": "test.txt",
        "fileContent": "my file content"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -448,
        -528
      ],
      "id": "ec169a04-f1da-4896-980a-b67c98e101cd",
      "name": "Upload a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "KYJcmYuAnlV2OEHA",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "Google",
        "height": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -512,
        -304
      ],
      "id": "1fe28f24-bfe6-4ecf-ae22-3d7b732d87b9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "get"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -448,
        -720
      ],
      "id": "0911329e-dc9e-45f5-9b23-7c317f6075c2",
      "name": "Get a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "KYJcmYuAnlV2OEHA",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -512,
        2320
      ],
      "id": "5f910b99-08ef-4b0e-bfb7-39dace5ac5ed",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "paPSwdIAFZWWdGVU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant when asked about videos transcripts use the vector db to query info"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -512,
        2080
      ],
      "id": "15a8ae34-8f8e-45a4-a161-a1e50598b2f9",
      "name": "AI Agent - supabase"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrive information from vector store about my videos transcripts",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -160,
        2208
      ],
      "id": "5271dd3e-51f9-4f60-8350-b0186c5cbe14",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "FOQgxnirQtWmPthY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        2416
      ],
      "id": "30533ef8-7789-49f3-a079-1afde278524f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "paPSwdIAFZWWdGVU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        944
      ],
      "id": "e220ee77-c14e-4485-beec-cd45def8f665",
      "name": "Transcript"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n    \"downloadSubtitles\": true,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"maxResultStreams\": 0,\n    \"maxResults\": 10,\n    \"maxResultsShorts\": 0,\n    \"oldestPostDate\": \"7 days\",\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": true,\n    \"startUrls\": [\n        {\n            \"url\": \"https://youtu.be/_QozKR9eQE8?si=xYixFyaJXppNgtqF\",\n            \"method\": \"GET\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        944
      ],
      "id": "78efb8d4-3369-42e3-aec5-c9e5031e7b3a",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent - supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - supabase",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - supabase",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb00aa5e-7a69-4373-9432-a8376e5eb503",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce47d10962176d2b89f5dfc70bbb039476c091e6eefe091ba5520c40ffadaa21"
  },
  "id": "lhX0vg4jLCCYmgm6",
  "tags": []
}
