workflow.json
{
  "name": "n8n workshop - simple vector - local fs - airtable",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1056,
        -48
      ],
      "id": "cef046f6-97fd-42a1-8921-5e5ed61ddf57",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1056,
        848
      ],
      "id": "a3503488-68e9-49eb-a38c-d64f04c441b3",
      "name": "When chat message received",
      "webhookId": "a4413f89-6c24-4dcb-92fd-d48504cd17e1"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/GiladShoham/n8n-workshop-prep/refs/heads/main/AgentEvaluationsTranscript.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        48
      ],
      "id": "6a3af7ea-437d-4202-88fe-ddf987829ee8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -832,
        1072
      ],
      "id": "4b2a5b4e-4f9d-4a23-9e34-73921bcc3a6b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "paPSwdIAFZWWdGVU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -624,
        1280
      ],
      "id": "800413d0-743e-4da4-bdc8-9b98feb1b294",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "paPSwdIAFZWWdGVU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        416
      ],
      "id": "3c1d0c2f-ff31-4c0d-9db9-8161488c7d44",
      "name": "Transcript"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n    \"downloadSubtitles\": true,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"maxResultStreams\": 0,\n    \"maxResults\": 10,\n    \"maxResultsShorts\": 0,\n    \"oldestPostDate\": \"7 days\",\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": true,\n    \"startUrls\": [\n        {\n            \"url\": \"https://youtu.be/_QozKR9eQE8?si=xYixFyaJXppNgtqF\",\n            \"method\": \"GET\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        416
      ],
      "id": "786618af-d805-458c-ad44-71b806be3a4d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appivqXzW1U8oonVJ",
          "mode": "list",
          "cachedResultName": "n8n-workshop-demo",
          "cachedResultUrl": "https://airtable.com/appivqXzW1U8oonVJ"
        },
        "table": {
          "__rl": true,
          "value": "tbl71lZHpKNq46lzw",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appivqXzW1U8oonVJ/tbl71lZHpKNq46lzw"
        },
        "filterByFormula": "Not({Status}='Done')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -832,
        -144
      ],
      "id": "2ddf2337-2dd1-49aa-a07b-740058ea8bed",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "NXxmbRLOUXqodBor",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "n8n-workshop",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -608,
        -208
      ],
      "id": "443485ad-1cba-4772-9c25-ec56e8a604fd",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -608,
        16
      ],
      "id": "00b05427-45fd-441a-a9d8-df71bc316fa8",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "paPSwdIAFZWWdGVU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -480,
        16
      ],
      "id": "e096f15f-8dd2-4bba-a3aa-6188f27b870d",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrive information from vector store about my videos transcripts",
        "memoryKey": {
          "__rl": true,
          "value": "n8n-workshop",
          "mode": "list",
          "cachedResultName": "n8n-workshop"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -704,
        1072
      ],
      "id": "04f29a48-70f1-40c6-b3e7-781ac8eb25f1",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/shared/test-transcript.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -256,
        192
      ],
      "id": "66f72139-c85f-411e-86c9-114a347ee62a",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -544,
        192
      ],
      "id": "4af3dca2-0d4b-4c69-b187-00b6bc9fe389",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant when asked about videos transcripts use the vector db to query info"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -800,
        848
      ],
      "id": "9f91b7f0-64a7-415e-8ce7-f0fc262dbdcb",
      "name": "AI Agent - simple vector"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent - simple vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - simple vector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - simple vector",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "76edabce-2fbf-4a78-99cd-d444b4527b1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce47d10962176d2b89f5dfc70bbb039476c091e6eefe091ba5520c40ffadaa21"
  },
  "id": "q0lLUxA2km33RjVm",
  "tags": []
}
